.Login_errorStyle {
    color: yellow;
    font-style: italic;
}

.Login_button {
    border-radius: 5px;
    margin: 5px;
    float: right;
    border: none;
    margin-top: 100px;
    background-color: #553555;
    color: #C3BABA;
}

.Login_button:hover {
    background-color: #7A5E71;
}

.Login_button:active, .Login_button:focus  {
    background-color: #553555;
}

.Login_inputStyle {
    margin-bottom: 15px;
    width: 100%;
}